.toilet-details-panel {
    background: var(--color-white);
    border-radius: 17px 17px 0 0;
    padding-block-start: calc(var(--toilet-gutter) / 2);
    width: 100%;
}

.toilet-details-panel h3 {
    align-items: center;
    display: inline-flex;
    gap: var(--space-s);
}

.toilet-details-panel .stack > .button:first-child {
    margin-inline-start: auto;
}

.toilet-details-panel__heading {
    display: inline-flex;
    flex-grow: 1;
    gap: var(--space-s);
    justify-content: space-between;
}

.toilet-details-panel__container {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    max-height: 350px;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-blue) white;
    scrollbar-gutter: stable;
}

.toilet-details-panel__list {
    list-style: none;
    margin-block-start: var(--space-s);
}

.toilet-details-panel__list-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

.toilet-details-panel__list-item--ice {
    background-color: var(--color-ice);
}

.toilet-details-panel__feature-label {
    align-items: center;
    display: flex;
    gap: var(--space-s);
}

.toilet-details-panel__verification-buttons {
    align-items: center;
    display: inline-flex;
    gap: var(--space-s);
}

.toilet-details-panel__verification-buttons p {
    align-items: center;
    display: inline-flex;
    gap: var(--space-s);
    margin: 0;
}

.toilet-details-panel__opening-hours-warning {
    font-size: var(--text--2);
}

#toilet-details-heading .stack {
    align-items: flex-start;
}

.toilet-details-panel__collapsed-title {
    align-items: center;
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap-reverse;
    margin-block-end: var(--space-m);
}

.toilet-details-panel__collapsed-title .button {
    margin-inline-start: auto;
}

.toilet-details-panel__actions {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;
}

.toilet-details-panel__actions .button {
    width: min(100%, 250px);
}

.toilet-details-panel__back-to-top {
    display: inline-flex;
    justify-content: center;
    margin-block-start: var(--space-m);
    margin-inline: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .toilet-details-panel__back-to-top {
        display: none;
    }
}