.footer {
    padding-block: var(--space-xs);
}

.footer__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__list {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.footer__list-item {
    margin: 0;
}

.footer__list-item:last-child {
    margin-inline-start: auto;
}

.footer__link {
    align-items: center;
    display: flex;
    gap: var(--space-2xs);
    font-size: var(--text--1);
}