# Node.js

lib-cov
*.seed
*.log

npm-debug.log
node_modules

*.sublime*

# Local config
.env*.local
.now
.vscode

build

# OSX
.DS_Store

# IDE
.idea

.vercel

# nextjs
.next
.loos
out
certificates

# Storybook build
storybook-static
public/storybook

# Cypress
cypress/screenshots
cypress/downloads

.areaInfo.geojson

tsconfig.tsbuildinfo

# Prisma
generated

# DecapCMS
out/
