# Node.js

lib-cov
*.seed
*.log

npm-debug.log
node_modules

*.sublime*

# Local config
.env
.now
.vscode

build

# OSX
.DS_Store
# IDE
.idea

.vercel

# nextjs
.next
.loos
out

# Storybook build
storybook-static
public/storybook

cypress/screenshots

.areaInfo.geojson
