@value colors: '../../css/colors.css';
@value colorPrimary from colors;

.popupBody {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  background: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}

.popupHeading {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.cookieOptions {
  display: flex;
  margin: 1rem -0.5rem;
}

.cookieOptions > * {
  flex: 1;
  margin: 0 0.5rem;
}

.cookieOption {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.cookieOptionCheckbox {
  margin-right: 0.5rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.cookieOptionLabel {
  border-radius: 5px;
  color: #222;
  border: 1px #ccc solid;
  padding: 1rem;
  padding-left: 2.5rem;
  width: 100%;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.cookieOption input:checked + span {
  box-shadow: 0 0 0 2px colorPrimary;
  border-color: transparent;
}
