.preferenceIndicator {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.5rem;
  padding: 2px;
  border-radius: 50%;
}

.preferenceIndicator:last-child {
  margin-right: 0;
}

.preferenceIndicatorLarge {
  height: 2.5rem;
  width: 2.5rem;
  padding: 5px;
}

.preferenceIndicatorYes {
  composes: preferenceIndicator;
  background-color: #217821;
}

.preferenceIndicatorNo {
  composes: preferenceIndicator;
  background-color: #c00;
}
