.container {
	position: relative;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px dashed #1a1a1a;
}

.container p:last-child {
	margin-bottom: 0;
}

.title {
	composes: large from '../../css/headings.module.css';

	/* Avoid collision with close button */
	padding-right: 25px;
}

.close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	border: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1.5rem;
	background: none;
}
