.map {
	position: relative;
	display: flex;
	flex: 1;
	min-height: 100px;
}

.map::before {
	content: '\0020';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	height: 40px;
	width: 3px;
	margin-top: -20px;
	margin-left: -1px;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1002;
}

.map::after {
	content: '\0020';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	height: 3px;
	width: 40px;
	margin-top: -1px;
	margin-left: -20px;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1002;
}
