.header {
	padding: 0.75rem;
}

.donate {
	composes: btnSmall btnFeatured from '../../css/controls.module.css';
}

.logoWrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 0.75rem;
	color: currentColor;
}

.logo {
	height: 3rem;
}

.title {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	font-size: 1.25rem;
	line-height: 1.25;
}
