.header {
  padding: 0.75rem;
}

.sponsorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  margin-top: 0.2rem;
}

.sponsorTitle {
  font-size: 1rem;
  text-align: center;
}

.sponsorLogoLeft {
  height: 2.5rem;
  margin-right: 0.4rem;
  margin-top: 0.3rem;
}

.sponsorLogoRight {
  height: 3rem;
}

/* issues/336 */
@media (max-width: 320px), (max-height: 400px) {
  .header {
    display: flex;
    justify-content: center;
  }

  .header > * ~ * {
    margin-left: 10px;
  }

  .title,
  .sponsorTitle {
    /* Composing visuallyHidden from helpers.module.css inside a mq also applies it outside the mq */
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
}
