.appContainer {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.mainContainer {
  width: 100%;
  min-width: 320px;
  max-width: 350px;
  color: #1a1a1a;
}

@media only screen and (max-width: 750px) {
  .mainContainer {
    min-width: none;
    max-width: none;
  }
}

.bandedSection {
  background-color: #2e781b36;
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 12px;
}

.bandedSectionText {
  background-color: transparent;
  padding-left: 12px;
  padding-right: 12px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0.75rem;
  background-color: #fff;
  overflow: auto;
}

.content > div {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.mapContainer {
  display: flex;
  flex: 1;
  background-color: #fff;
}

.controls {
  display: flex;
}

.controls > * {
  margin-bottom: 1rem;
}

.controls > * ~ * {
  margin-left: 0.25rem;
}
