.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: currentColor;

  /* Todo: Should be margin but also avoid percentage padding/margin values */
  padding-top: 2%;
}

.image {
  height: 3rem;
}

.title {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 1.25rem;
  line-height: 1.25;
}

.newimage {
  height: 7em;
}

.newlogoimage {
  height: 4rem;
  position: fixed;
  bottom: 3.84em;
  left: 0.5em;
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .newlogoimage {
    height: 4rem;
    position: fixed;
    bottom: 0.5em;
    left: 30em;
    z-index: 9999;
  }
}
