/* Components */

@import '~/src/design-system/components/Badge/Badge.css';
@import '~/src/design-system/components/Button/Button.css';
@import '~/src/design-system/components/Drawer/Drawer.css';
@import '~/src/design-system/components/Footer/Footer.css';
@import '~/src/design-system/components/Header/Header.css';
@import '~/src/design-system/components/Icon/Icon.css';
@import '~/src/design-system/components/InputField/InputField.css';
@import '~/src/design-system/components/Logo/Logo.css';
@import '~/src/design-system/components/MapOverlay/MapOverlay.css';
@import '~/src/design-system/components/RadioInput/RadioInput.css';
@import '~/src/design-system/components/Sidebar/Sidebar.css';
@import '~/src/design-system/components/Switch/Switch.css';
@import '~/src/design-system/components/TextArea/TextArea.css';

/* Layout */

@import '~/src/design-system/layout/Center/Center.css';
@import '~/src/design-system/layout/Stack/Stack.css';

/* Utilities */

@import '~/src/design-system/utilities/VisuallyHidden/VisuallyHidden.css';

/* Exception */

/* Leaflet Marker Cluster custom styles */
.leaflet-marker-icon.marker-cluster {
  display: flex;
  border: 0.25em solid #ed3d63;
  background-color: white;
  padding: 0.125em;
  border-radius: 40px;
}
.leaflet-marker-icon.marker-cluster div {
  margin: auto;
  background-color: transparent;
}
