.page {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

.section {
  margin-bottom: 20px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.table {
  width: 100%;
}

.table th {
  text-align: left;
}

.table td {
  padding: 10px;
}

.table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
