.header {
    background: var(--color-white);
    padding-block: var(--space-xs);
}

.header__stack {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: var(--space-m);
    list-style: none;
    margin-block-end: 0;
    text-align: center;
}

.header__nav li {
    margin: 0;
    
}

.header__nav-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__smaller-devices {
    align-items: flex-end;
    display: flex;
    gap: var(--space-m);
}

.header__larger-devices {
    display: none;
}

/* Styles for larger tablet and desktop devices */

@media (min-width: 768px) {
    .header__smaller-devices {
        display: none;
    }

    .header__larger-devices {
        align-items: center;
        display: flex;
        gap: var(--space-m);
    }

    .header__nav {
        flex-direction: row;
    }
    
    .header__nav-wrapper {
        flex-direction: row;
    }
}

