.list {
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
  padding: 1rem 0;
}

.item:last-child {
  border-bottom: none;
}

.control {
  display: flex;
  border: 2px solid;
  border-radius: 5px;
  font-weight: bold;
  padding: 3px;
  background: none;
}

.control > * {
  padding: 0.25rem 0.75rem;
}

.control[aria-checked="true"] :first-child,
.control[aria-checked="false"] :last-child {
  background: #000;
  color: #fff;
  border-radius: 3px;
}
