.switch {
    --switch-height: 16px;
    --switch-width: 27px;
    --switch-thumb-padding: 1px;
    --switch-thumb-size: calc(var(--switch-height) - var(--switch-thumb-padding) * 2);

    position: relative;
    background-color: var(--color-blue);
    border-radius: calc(var(--switch-height) + var(--switch-thumb-padding) * 2);
    width: var(--switch-width);
    height: var(--switch-height);
}

.switch[aria-checked=true] {
    background-color: var(--color-pink);
}

.switch .switch-thumb {
    transition: left 0.2s ease;
    position:absolute;
    width: var(--switch-thumb-size); 
    height: var(--switch-thumb-size);
    top: var(--switch-thumb-padding);
    left: var(--switch-thumb-padding);
    border-radius: 50%;
    background-color: white;
}

.switch[aria-checked=true] .switch-thumb {
    left: calc(100% - var(--switch-thumb-size) - var(--switch-thumb-padding));
}