.questionnaire {
  margin: 2rem 0;
}

.questionnaireGroup {
  border: 0;
  border-bottom: 1px solid;
  padding: 0.75rem 0;
}

.questionnaireCol {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  text-align: center;
}

.data {
  margin-bottom: 1rem;
}

.mobileMap {
  display: flex;
  height: 200px;
  margin-bottom: 1rem;
}
