.banner {
  background: var(--color-white);
  border-radius: 8px; 
  border: 2px solid;
  padding: var(--space-2xs) var(--space-xs); 
}

.banner__content {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.banner__content p {
  margin: 0;
}

.banner__title {
  align-items: center;
  display: inline-flex;
  gap: var(--space-2xs);
  font-size: var(--text-0);
}

/* Variants */
.banner--success {
  border-color: var(--color-turquoise); 
}

.banner--error {
  border-color: var(--color-pink); 
}

.banner--warning {
  border-color: var(--color-pink); 
}

.banner--info {
  border-color: var(--color-blue); 
}
