@value colors: './colors.css';
@value colorButton from colors;
@value colorButtonDisabled from colors;
@value colorButtonActive from colors;
@value colorButtonFeatured from colors;
@value colorButtonFeaturedActive from colors;
@value colorButtonCaution from colors;
@value colorButtonCautionActive from colors;
@value colorSelected from colors;

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  color: #fff !important;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: colorButton;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: colorButtonActive;
}

.btn[disabled] {
  background-color: colorButtonDisabled;
}

.btn[disabled]:hover,
.btn[disabled]:focus {
  cursor: default;
  background-color: colorButtonDisabled;
}

.btnSmall {
  composes: btn;
  font-size: 0.85rem;
}

.btnFeatured {
  composes: btn;
  background-color: colorButtonFeatured;
}

.btnFeatured:hover,
.btnFeatured:focus {
  background-color: colorButtonFeaturedActive;
}

.btnCaution {
  composes: btn;
  background-color: colorButtonCaution;
}

.btnCaution:hover,
.btnCaution:focus {
  background-color: colorButtonCautionActive;
}

.btnStack > .btn + .btn {
  margin-top: 0.5rem;
}

/* Fields */

.text {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #222;
  background-color: #fff;
}

.text[readonly] {
  background-color: #eaeaea;
  cursor: not-allowed;
}

.dropdown {
  composes: text;
}

.preferenceWrapper {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
}

.preference {
  composes: btn;

  /* Unselected/default state */
  color: #222 !important;
  text-align: left;
  background-color: #ccc;
  padding-right: 3rem; /* Avoid overlapping absolute checkbox */
}

.preference:hover {
  color: #222;
  background-color: #ccc;
}

.preferenceInput {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  margin: auto;
}

.preferenceImage {
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

/* Selected state */
.preferenceWrapper input:checked + span {
  background-color: colorSelected;
}
