@value colors: '../colors.css';
@value colorPrimary, colorLink, colorLinkActive, colorBackground from colors;

@font-face {
  font-family: 'Cabin';
  src: url('../fonts/cabin-italic-webfont.eot');
  src:
    url('../fonts/cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cabin-italic-webfont.woff') format('woff'),
    url('../fonts/cabin-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url('../fonts/cabin-bold-webfont.eot');
  src:
    url('../fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cabin-bold-webfont.woff') format('woff'),
    url('../fonts/cabin-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('../fonts/cabin-regular-webfont.eot');
  src:
    url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cabin-regular-webfont.woff') format('woff'),
    url('../fonts/cabin-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root,
body,
#root {
  height: 100%;
}

#root {
  background-color: colorBackground;
}

body {
  margin: 0;
  font-family: Cabin, sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: colorLink;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: colorLinkActive;
}

p {
  margin: 0;
  line-height: 1.5;
}

p + p {
  margin-top: 1em;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
}

button {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #222;
  background-color: #fff;
}

input[type="text"],
select[readonly],
textarea[readonly] {
  background-color: #eaeaea;
  cursor: not-allowed;
}
