{{#contentFor 'bodyclass'}}standalone_map{{/contentFor}}
{{#contentFor 'promo'}} {{/contentFor}}
<a href="/loos/near/{{config.map.center.[1]}}/{{config.map.center.[0]}}" class="return">toilet details</a>

{{#if looid}}
<span style="display:none" data-map_ident="{{looid}}:1"></span>
{{/if}}
