<h2>Toilet Remover</h2>
<p>Please let us know why you're removing this toilet from the map using the form below.</p>
<form method="post" action="{{ config.app.baseURL }}/remove/{{loo._id}}">
    <label for="removal_reason">Reason for removal</label>
    <textarea type="text" id="removal_reason" name="removal_reason"></textarea>
    <input type="hidden" name="origin" value="Great British Public Toilet Map"/>
    <div>
        <button type="submit" class="delete">Remove it</button>
    </div>
    <label for="attribution">Submitted by?</label>
    <input id="attribution" type="text" placeholder="Anonymous" name="attribution" value="{{attribute_to}}" />
</form>
