@value colors: './colors.css';
@value colorPrimary, colorLink, colorLinkActive, colorBackground from colors;

/* prettier-ignore */
@font-face {
  font-family: 'Cabin';
  src: url('./fonts/cabin-italic-webfont.eot');
  src:
    url('./fonts/cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/cabin-italic-webfont.woff') format('woff'),
    url('./fonts/cabin-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* prettier-ignore */
@font-face {
  font-family: 'Cabin';
  src: url('./fonts/cabin-bold-webfont.eot');
  src:
    url('./fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/cabin-bold-webfont.woff') format('woff'),
    url('./fonts/cabin-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* prettier-ignore */
@font-face {
  font-family: 'Cabin';
  src: url('./fonts/cabin-regular-webfont.eot');
  src:
    url('./fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/cabin-regular-webfont.woff') format('woff'),
    url('./fonts/cabin-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: colorLink;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: colorLinkActive;
}

p {
  margin: 0 0 1em;
  line-height: 1.5em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Cabin, sans-serif;
  background-color: colorBackground;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Cabin, sans-serif;
}
