body {
  background-color: #e8eaf6;
  margin: 0;
}

.main {
  flex: 1;
  padding: 2rem;
}

.intro {
  padding-bottom: 2rem;
}

.internalLink {
  color: #3f51b5;
  text-decoration: none;
}

.internalLink:hover {
  text-decoration: underline;
}

:global(.leaflet-container) {
  height: 100%;
  width: 100%;
  z-index: 0;
}
