.sidebar {
    max-height: 100%;
    max-width: 350px;
    overflow: auto;
}

.sidebar__button {
    align-items: center;
    display: flex;
    font-weight: 600;
    gap: var(--space-xs);
}

.sidebar__heading {
    display: inline-flex;
    font-size: var(--text-1);
    gap: var(--space-xs);
}

.sidebar__button[aria-expanded="true"] .icon:nth-child(3) {
    transform: rotate(90deg);
    transition: transform 0.1s;
}

.sidebar__filter {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    justify-content: center;
}


.sidebar__larger-devices {
    background-color: var(--color-white);
    border-radius: 17px;
    display: none;
    padding: var(--toilet-gutter);
}


@media (min-width: 768px) {
    .sidebar__larger-devices {
        display: block;
    }

    .sidebar__smaller-devices {
        display: none;
    }

    .sidebar__filter {
        justify-content: space-between;
    }
}