.map-overlay {
    display: flex;
    justify-content: center;
    left: 0;
    padding: var(--toilet-gutter);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .map-overlay {
        right: unset;
    }
}