.wrapper {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.label {
  /* Visually Hidden */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.controls {
  width: 300px;
  position: relative;
}

.input {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 1rem;
  font: inherit;
  font-size: 0.9rem;
  background: white;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #999;
  letter-spacing: 0.05em;
}

.menuContainer {
  width: 300px;
  border-radius: 0 0 5px 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  background: white;
  display: flex;
  flex-direction: column;
}

.menuList {
  list-style: none;
}

.menuListItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  color: #999;
}

.itemLabel {
  font-size: 0.9rem;
  color: black;
}

.emptyState {
  margin: 0.5rem 1rem;
}

.poweredByGoogleLogo {
  margin: 0.75rem 0 0.25rem 1rem;
  max-width: 120px;
}
