.drawer {
    position: fixed;
    /* height of menu bar */
    top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: var(--color-white);
    z-index: 150;
    padding: var(--space-s);
}
