.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;
  min-height: 34px;
  border-radius: 17px;
  padding: 0 var(--space-s);
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-turquoise);
  color: var(--color-blue);
  font-weight: bold;
  background-color: var(--color-turquoise);
}

.button > * + * {
  margin-left: var(--space-2xs);
}

.button:disabled {
  border-color: var(--color-light-grey);
  background-color: var(--color-light-grey);
}

.button:disabled:hover {
  color: var(--color-blue);
  cursor: not-allowed;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
  color: var(--color-turquoise);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.button--secondary {
  background-color: var(--color-white);
  border-color: var(--color-blue);
}

.button--secondary:not(:disabled):hover,
.button--secondary:not(:disabled):focus {
  color: var(--color-white);
}
