/* An accessibility helper for visually hiding content by ensuring it is still available for screen readers.

- https://alistapart.com/article/now-you-see-me */
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}