/*
line-height = 1.5
reduced line-height = 1.25
base font-size = 18px
action color = #217821
action color dark = #165016
error color = #c00;
*/

@font-face {
    font-family: 'Cabin';
    src: url('cabin-italic-webfont.eot');
    src: url('cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-italic-webfont.woff') format('woff'),
         url('cabin-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('cabin-bold-webfont.eot');
    src: url('cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-bold-webfont.woff') format('woff'),
         url('cabin-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('cabin-regular-webfont.eot');
    src: url('cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-regular-webfont.woff') format('woff'),
         url('cabin-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: #1a1a1a;
	font-family: Cabin, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-decoration: none;
	outline-offset: 0.125em;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html, body, .bigmap {
    height: 100%;
    background: #1a1a1a;
}

a img {
	border: 0;
}

/* phrasing
------------------------------------------------------ */

p * {
	line-height: 1;
}

a, a:visited {
	color: #217821;
}

a:hover, a:active {
	color: #165016;
}

p a {
	border-bottom: 1px solid;
}

p a:hover, p a:focus {
	border-bottom: 2px solid;
}

em, i, q, cite {
	font-style: italic;
}

strong, b, abbr, h1, h2, h3 {
	font-weight: 700;
}

[role="banner"] h1 {
	font-size: 1.5em;
}

abbr[title] {
	cursor: help;
	border-bottom: 1px dotted;
}

code, samp {
	font-family: monospace;
	background: #ddd;
	padding: 0 0.25em;
}

sup, sub {
	line-height: 0;
	font-size: 0.8em;
}

sup {
	vertical-align: super;
	font-style: italic;
}

sub {
	vertical-align: sub;
	position: relative;
	top: -0.125em;
	font-size: 0.8em;
}

/* flow
------------------------------------------------------ */

p {
	line-height: 1.5;
}

* + * {
	margin-top: 18px; /* change if html size changes (top) */
	margin-top: 1.5rem;
}

p + p {
	margin-top: 0.75em;
}

h1, h2, h3, h4 {
	font-weight: 700;
	line-height: 1.125;
}

h1 { font-size: 3em; }
h2 {font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }

li, dt, dd, option + option {
	margin-top: 0;
}

dt, dd {
	vertical-align: top;
}

blockquote, figure {
	font-size: 1.25em;
	padding: 3em;
	background: #ddd;
}

blockquote p, figcaption {
	font-style: italic;
}

figcaption {
	text-align: center;
}

blockquote footer:before {
	content: '\2014\0020';
}

/* lists / navigation
------------------------------------------------------ */

li {
	list-style: disc inside;
}

dt {
	font-weight: bold;
}

[role="navigation"] ul {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

[role="navigation"] li {
	display: inline-block;
	margin: 0.25em;
}

/* buttons
------------------------------------------------------ */

button, .button-shaped, [type="submit"] {
	display: inline-block;
	font-size: 1.25em;
	background: #217821;
	color: #fff !important;
	padding: 0.75em 1em;
	margin: 0.75em 0.75em 0.75em 0;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	border-bottom: 0;
}

.delete {
	background: #c00;
}

button:first-child, .button-shaped:first-child, [type="submit"]:first-child {
	margin-top: 0;
}

.button-shaped:only-child {
	margin-bottom: 0;
}

button:only-of-type, .button-shaped:only-of-type {
	display: block;
	text-align: center;
	margin-right: 0;
	width: 100%;
}

button:hover, button:focus,
.button-shaped:hover, .button-shaped:focus,
[type="submit"]:hover, [type="submit"]:focus
{
	background: #165016;
	border-bottom: 0;
}

button:focus,
.button-shaped:focus,
[type="submit"]:focus {
	outline: thin dotted !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

[disabled], [readonly] {
	cursor: default;
	opacity: 0.6;
}

[disabled]:focus, [readonly]:focus {
	background: #c00;
}

.donate {
	font-size: 0.85em;
	background: #55acee;
}

.github { background: #e0e0e0; color: #222 !important; }
.facebook { background: #3b5998; }
.google { background: #dd4b39; }
.twitter { background: #55acee; }
.osm { background: #34CB99; }

/* layout
------------------------------------------------------ */

.list-container {
	width: 350px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	overflow: auto;
	z-index: 1001;
}

/* forms
------------------------------------------------------ */

/*

Uses the format

<form>
	<fieldset>
		<legend>...</legend>
		<div>
			<label></label>
			--form input / textarea etc--
		</div>
		<div>
			... " ...
		</div>
	</fieldset>
</form>

*/

[type="submit"] {
	margin-top: 1.5em !important;
}

.coords {
	font-size: 0.9em;
	padding: 0.5em;
	background: #ededed;
}



.coords div {
	margin: 0;
}

.coords div > * {
	display: inline-block;
}

.coords label {
	width: 20%;
}

.coords input {
	width: 75%;
}

.coords [readonly] {
	border: 0;
	padding: 0;
	color: #1a1a1a;
	font-family: monospace;
	background: transparent !important;
}

.coords [readonly]:focus {
	border: 0;
}

fieldset {
	padding: 1.5em;
	border: 2px solid #222;
	background: transparent;
}

legend {
	font-size: 1.25rem;
	font-style: italic;
	padding: 0 0.5em;
	background: #222;
	padding: 0.25em;
	color: #fff;
}

legend + div {
	margin-top: 0;
}

label {
	display: block;
}

form * + * {
	display: block;
	margin-top: 0.75em;
}

* + label {
	margin-top: 0.75em;
}

label + label {
	margin-top: 0;
}

input, textarea, select {
	font-size: inherit;
	font-family: inherit;
	margin-top: 0.33em;
	line-height: 1.5;
	width: 100%;
	padding: 0.25em;
	border: 2px solid #222;
	background: #fff;
}

input:focus, textarea:focus, select:focus {
	outline: 2px solid #222;
	outline-offset: 0;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	padding: 0;
	border: 0;
	margin-top: 0;
}

label input {
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: baseline;
}

form p {
	opacity: 0.7;
}

/* radio grid ------------- */

.questionnaire {
	margin: 1.5em 0;
}

.questionnaire-header, .questionnaire fieldset {
	font-size: 0;
}

.questionnaire-header > *, .questionnaire fieldset > * {
	display: inline-block;
	font-size: 18px;
	font-size: 1rem;
	width: 24.5%;
	text-align: center;
	vertical-align: middle;
	line-height: 1;
	font-weight: bold;
}

legend {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px; margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.questionnaire fieldset {
	padding: 16px 0;
	padding: 0.75rem 0;
	border: 0;
}

.questionnaire fieldset > *:not(legend) {
	font-weight: normal;
	margin-top: 0;
}

[type="radio"]:focus {
	outline: 1px solid #1a1a1a;
}

.row + .row {
	border-top: 1px solid;
}

/* preferences checkboxes ------------- */

.checkboxes [type="checkbox"] {
	position: absolute;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.checkboxes [type="checkbox"] + span {
	display: block;
	padding: 0.33em 0.75em;
	border: 5px solid #dedede;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.25em;
}

.checkboxes [type="checkbox"]:checked + span {
	border: 5px solid #afe9af;
	background: #afe9af;
}

.checkboxes label img {
    width: 2.5em;
    vertical-align: middle;
}

.checkboxes [type="checkbox"]:focus + span {
	border-color: #1a1a1a;
}

.loo-prefs img {
	width: 40px;
	height: 40px;
	background: #222;
	border-radius: 50px;
	margin: 0 0.125em 0.125em;
	padding: 0.25em;
}

/* images
------------------------------------------------------ */

img {
	max-width: 100%;
	height: auto;
}

/* banner
------------------------------------------------------ */

body {
	margin-top: 0;
}

[role="banner"], [role="main"] {
	padding: 0.75em;
	background: #fff;
}

[role="main"] {
	margin-top: 0;
	padding-bottom: 2em;
}

[role="banner"]:after {
	content: ' ';
	display: block;
	height: 0.25em;
	border-radius: 30px;
	background: #1a1a1a;
	margin-top: 0.75em;
}

/* messages
------------------------------------------------------ */

[role="status"] {
	background: #FEFF9F;
	padding: 0.5em;
}

/* footer
------------------------------------------------------ */

[role="contentinfo"] {
	padding: 0.75em;
	background: #1a1a1a;
	color: #fff;
	text-align: center;
	margin-top: 0;
}

[role="complementary"] {
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 350px;
	bottom: 0;
}

[role="contentinfo"] a {
	color: #afe9af;
}

[role="contentinfo"] a:hover, [role="contentinfo"] a:focus {
	color: #fff;
}

/* nearest toilets
------------------------------------------------------ */

ol {
	counter-reset: li;
}

ol li {
	list-style: none;
	font-size: 1.5em;
	clear: both;
	border: 0.25em solid #1a1a1a;
	border-radius: 0.5em;
	padding-bottom: 1em;
    position: relative;
    margin-right: 0.25em;
    background: #1a1a1a;
}

.report {
	border: 2px dashed #1a1a1a;
	border-radius: 0.5em;
	padding: 1em;
	font-size: 0.85em;
	text-align: center;
	margin-right: 0.5em;
}

ol li + li {
	margin-top: 0.75em;
}

ol li:before {
	content: counter(li);
	width: 1.5em;
	height: 1.5em;
	display: table-cell;
	position: absolute;
    top: -.8em;
    right: -1em;
	text-align: center;
	vertical-align: middle;
	border-radius: 30px;
	border: 0.25em solid;
	background: #fff;
	counter-increment: li;
	margin-right: 0.25em;
	z-index: 1000;
	color: #1a1a1a;
}

ol li > a:last-child {
    background: #1a1a1a;
    border-radius: 0 0 0.33em 0.33em;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.75em;
    text-align: right;
    padding-right: 0.25em;
}

ol li > a:last-child:hover,
ol li > a:last-child:focus {
    background: #217821;
    outline: none;
}

ol a:last-child img {
	float: left;
    margin: 0.25em 0 0;
    vertical-align: middle;
    width: 1.25em;
}

li[aria-label*="a preferred"]:before {
	background: #cdde87;
}

li[aria-label*="not a preferred"]:before {
	background: #ffaaaa;
}

li[aria-label*="a preferred"] > a:last-child span {
	color: #cdde87;
}

li[aria-label*="not a preferred"] > a:last-child span {
	color: #ffaaaa;
}

h2[aria-label*="a preferred"] {
	background: #cdde87;
}

h2[aria-label*="not a preferred"] {
	background: #ffaaaa;
}

li[aria-label="a toilet"] .visually-hidden {
	display: none;
}

.intro {
	padding: 0.75em;
	font-size: 0.8em;
	border: 1px dashed #1a1a1a;
	position: relative;
}

.intro [aria-label="close"] {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.25em;
	background: transparent;
	font-size: 2em;
	color: #222 !important;
	width: auto;
	margin: 0;
}

.intro[style^="display: none"] + * {
	margin-top: 0;
}

.intro h2 + p {
	margin-top: 0.75em;
}

.intro h2 {
	padding-right: 1em;
}

/* map styles
----------------------------------------------------- */

.map * {
	margin-top: 0;
}

.map.micro {
	height: 100px;
	border-radius: 0.5em 0.5em 0 0;
}

.map.mini {
	font-size: 1.5em;
	height: 200px;
	border: 0.25em solid #1a1a1a;
	border-radius: 0.5em;
}

.map.macro {
	position: absolute !important;
	width: 100%;
	height: 100%;
	min-height: 500px;
}

.toilet .ident {
	display: none;
}

.report-toilet .map.macro:before,
.report-toilet .map.macro:after,
.report-toilet .map.positioning:before,
.report-toilet .map.positioning:after {
    background: #1a1a1a;
    border-radius: 20px;
    content: "\0020";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}


.map.macro:before,
.map.positioning:before{
    width: 3px;
    height: 40px;
    margin-left: -1px;
    margin-top: -20px;
}

.map.macro:after,
.map.positioning:after {
    width: 40px;
    height: 3px;
    margin-left: -20px;
    margin-top: -1px;
}

/* clusters */

.leaflet-div-icon {
    background: #1a1a1a;
    border-radius: 50px;
    color: #fff;
    display: table-cell;
    font-size: 1.5em;
    height: 50px !important;
    text-align: center;
    vertical-align: middle;
    width: 50px !important;
    border: 0;
    padding-top: 5px;
}

.leaflet-div-icon span {
    display: block;
    font-size: 0.6em;
    line-height: 0;
    margin-top: 0;
}

.leaflet-marker-icon .ident {
    font-family: Cabin,sans-serif;
    font-size: 16px;
    position: relative;
    text-align: center;
    top: -46px;
    width: 25px;
}

[tabindex="0"]:focus {
	outline: 2px solid #1a1a1a;
}

[tabindex="0"]:active {
	outline: none;
}

.leaflet-control-geocoder {
	box-shadow: none;
	border: 2px solid #1a1a1a;
}

.leaflet-control-geocoder-icon {
	width: 30px;
	height: 30px;
}

.leaflet-control-geocoder-form input[type="text"] {
	padding: 0;
	margin: 4px;
	margin-right: 0;
	margin-left: 0;
	text-indent: 4px;
}

.leaflet-bar {
	box-shadow: none;
	border: 2px solid #1a1a1a;
}

.leaflet-bar + .leaflet-bar {
	border: 0;
}

a.leaflet-control-loading {
	width: 400px;
	height: 150px;
	background: none;
	text-align: left;
}

a.leaflet-control-loading:before {
	font-size: 2em;
	content: 'Finding toilets...';
	position: absolute;
	top: -65px;
	left: 40px;
	white-space: nowrap;
	font-family: Cabin, sans-serif;
}

a .leaflet-marker-icon {
	color: #1a1a1a;
}

.leaflet-control-locate {
	position: absolute;
	top: 80px;
}

/* full map page
----------------------------------------------------- */

body.standalone_map .list-container {
	right: 0;
	height: 60px;
	width: 100%;
	bottom: auto;
	overflow: visible;
}

body.standalone_map [role="complementary"] {
	left: 0;
	top: 60px;
}

body.standalone_map [role="banner"] h1 img {
	height: 40px;
	width: auto;
}

body.standalone_map [role="banner"] {
	padding: 0.33em;
	border-bottom: 0;
}

body.standalone_map [role="banner"]:after {
	content: '';
	height: 0;
	margin-top: 0;
}

body.standalone_map main {
	height: 0;
	padding: 0;
}

body.standalone_map [role="contentinfo"] {
	display: none;
}

body.standalone_map .return {
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	line-height: 55px;
	padding-right: 0.75em;
	text-decoration: underline;
}

body.standalone_map .return:before {
	content: '\2190\0020';
}

/* location icon
------------------------------------------------------ */

.icon-location {
	display: block;
	border: 2px solid #222 !important;
	border-radius: 4px;
	width: 30px !important;
	height: 30px !important;
	background: url(/images/where-i-am.png) no-repeat center center;
	background-color: white;
}

.icon-location:before {
	content: '' !important;
}

/* individual toilet
------------------------------------------------------ */

h2 small {
	display: block;
	margin-top: 0;
	font-size: 0.7em;
}

.empty {
	padding: 0.75em;
	border: 2px dashed;
}

[aria-label="toilet information"] li {
	list-style: none;
	font-size: 0;
	word-spacing: -4px;
	padding: 16px 0;
	padding: 0.75rem 0;
}

[aria-label="toilet information"] li > * {
	word-spacing: normal;
	display: inline-block;
	vertical-align: middle;
	width: 49%;
	font-size: 20px;
	font-size: 1.125rem;
	margin-top: 0;
}

[aria-label="toilet information"] li p,
[aria-label="toilet information"] li h3 {
	line-height: 1.1;
}

[aria-label="toilet information"] li p {
	text-align: right;
}

[aria-label="toilet information"] li + li {
	margin-top: 0;
	padding-top: 16px;
	padding-top: 0.75rem;
	border-top: 2px dashed;
}

.inline-image {
	height: 1em;
	width: auto;
	margin: 0;
}

[aria-label="toilet information"] .notes h3,
[aria-label="toilet information"] .notes p {
	display: block;
	width: auto;
	text-align: left;
}

[aria-label="toilet information"] .notes p {
	font-size: 16px;
	font-size: 0.85rem;
	margin-top: 16px;
	margin-top: 0.75rem;
}

br {
	font-size: 0;
}

small {
	font-size: 16px;
	font-size: 0.85rem;
}

label + p {
	margin-top: 3px;
}

.credibility {
	margin-top: 0;
	font-size: 1.125em;
}

.green {
	color: #217821;
}

.grey {
	color: #ccc;
}

/* geek definitions
------------------------------------------------------ */

dl {
	font-size: 1em;
}

.data {
	padding: 1em;
	border: 1px solid;
	border-radius: 0.125em;
	font-size: 0.85em;
	border-color: #999;
}

.data h2 small {
	color: #666;
	font-size: 0.85em;
}

* + .data {
	margin-top: 1.5em;
}

.data h2 {
	font-size: 1.25em;
	text-align: center;
	padding-bottom: 0.75em;
	border-bottom: 1px solid #999;
}

dt, dd {
	display: inline-block;
	width: 48%;
}

h2 + dl {
	margin-top: 0.75em;
}

.faq dt, .faq dd {
	display: block;
	width: auto;
}

.faq * + dt, .faq dd {
	margin-top: 0.75em;
}

.faq dt {
	font-size: 1.25em;
}

/* property styles
------------------------------------------------------ */

.default > * {
	display: inline;
}

.default h3 {
	font-size: 20px;
	font-size: 1.125rem;
}

.default p span {
	padding: 0 0.5em;
}

/* utilities
------------------------------------------------------ */

.visually-hidden {
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visually-hidden + p {
	margin-top: 0;
}

/* search
------------------------------------------------------ */

.leaflet-control-geocoder-alternatives li {
	list-style: none;
	color: #666;
}

/* break points
------------------------------------------------------ */

::-webkit-input-placeholder {
   font-size: 0.85em;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 0.85em;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 0.85em;
}

:-ms-input-placeholder {
   font-size: 0.85em;
}

@media all and (max-width: 800px) {

	html {
		font-size: 16px;
	}

	.list-container {
		width: 300px;
	}

	[role="complementary"] {
		left: 300px;
	}

}

@media all and (max-width: 730px) {

	html {
		font-size: 14px;
	}

	.list-container {
		width: 250px;
	}

	[role="complementary"] {
		left: 250px;
	}

}

@media all and (max-width: 600px) {

	html {
		font-size: 14px;
	}

	body:not(.standalone_map) [role="complementary"] {
		display: none;
	}

	body:not(.standalone_map) .list-container {
		position: static;
		width: auto;
	}

}

@media all and (min-width: 600px) {

	.map.mini {
		display: none;
	}

}
