.site-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site-layout__wrapper {
    display: flex;
    flex: 1;
    position: relative;
}

.site-layout__content {
    flex: 1;
}

.site-layout__map-container {
    display: flex;
    height: 100%;
    position: relative;
}